.std-header-back-btn {
    padding: 0.5rem;
    margin-left: -0.5rem;
    color: #2563eb;
    background-color: #eff6ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .std-header-back-btn:active {
        background-color: #dbeafe;
    }

.std-header-btn-text {
    font-weight: bold;
    margin-left: 0.25rem;
    font-size: 1.125rem;
}

.std-header-title {
    margin: 0;
    font-weight: bold;
    font-size: 1.25rem;
    color: #111827;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
