@using BetonBon.Client.RefitInterfaces
@using BetonBon.Client.Shared
@using BetonBon.Client.Shared.Components
@using BetonBon.Client.Shared.Icons
@using BetonBon.Shared.Models
@inject IEconomicApi _economicApi

<FullScreenModal IsVisible="ProjectsIsVisible" OnClose="CloseProjects" Title="Vælg Projekt">

    <div class="projects-container">

        
        <SearchComponent @bind-SearchTerm="@Search"/>


        <div class="project-list">
            @foreach (var project in FilteredProjects)
            {
                <ProjectCard ProjectSelected="@ClickProject" Project="@project"></ProjectCard>
            }
        </div>
    </div>

</FullScreenModal>
