@using BetonBon.Client.RefitInterfaces
@using BetonBon.Client.Shared
@using BetonBon.Client.Shared.Components
@using BetonBon.Client.Shared.Icons
@using BetonBon.Shared.Models
@inject IEconomicApi _economicApi

<div style="z-index:101;">
<FullScreenModal IsVisible="IsVisible" Title="Vælg Aktivitet" OnClose="@Close" SelectedAnimationStyle="FullScreenModal.ModalAnimationStyles.RightToLeft">

           <SearchComponent @bind-SearchTerm="@Search"/>

        <div class="list-area">
         
            @foreach (var act in FilteredActivities)
            {
                <button @onclick="() => SelectActivity()" class="activity-item">
                    <div>
                        <div class="activity-name">@act.Name</div>
                        <div class="activity-id">Nr. @act.Number</div>
                    </div>
                    <AddIcon/>
                </button>
            }
    </div>

</FullScreenModal>
</div>